// Responsive Variables
$xxlg: "(min-width: 1480px)";
$xlg: "(min-width: 1280px)";
$lg: "(min-width: 1025px)";
$md: "(min-width: 641px)  ";
$sm-md: "(max-width: 1007px)";
$sm: "(max-width: 640px)";
$xs: "(max-width: 380px)";
$headerBreakpoint: "(min-width: 1125px)";
